.navbar-container{
    display: flex;
    width: 100%;

}

.link{
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

.link:hover{
    color: purple;
}

.active-link{
    text-decoration: none;
    color: purple;
    margin: 20px;
}

.social-icon {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid purple;
}

.social-icon:hover{
    background-color: purple;
    opacity: 0.5;
}

.contact-button{
    font-weight: 700;
    color: purple;
    border: 1px solid purple;
    padding: 18px 34px;
    font-size: 18px;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}


.contact-button:hover{
    color: #fff;
    background-color: darkmagenta;
    border-color: #fff;

}

/*.navbar-text button:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

 Nav.navbar .navbar-toggler:active,
 Nav.navbar .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
 }

 Nav.navbar .navbar-toggler-icon{
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
 } 

 nav.navbar .navbar-toggler-icon:after,
 nav.navbar .navbar-toggler-icon:before{
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
 }

 nav.navbar .navbar-toggler-icon::after{
    top: 8px;
 }

 nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
 }

 nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
 }

 nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
    border-color: transparent;
 } */ 

 