.navbar-container{
    display: flex;
    width: 100%;
}

.link{
    text-decoration: none;
    margin: 10px;
    color: #fff;
}
 
.link:hover{
    color: purple;
}



.active-link{
    text-decoration: none;
    color: purple;
    margin: 20px;
}

.active-link:hover{
    text-decoration: none;
    color: purple;
    margin: 20px;
}

.social-icon {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid purple;
}

.social-icon:hover{
    background-color: purple;
    opacity: 0.5;
}

.contact-button{
    font-weight: 700;
    color: purple;
    border: 1px solid purple;
    padding: 18px 34px 20px 20px;
    font-size: 18px;
    margin: 10px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}


.contact-button:hover{
    color: #fff;
    background-color: darkmagenta;
    border-color: #fff;

}

.links{
    background-color: #121212;
}